body {
    margin: 0;
    overflow: hidden;
    background: url('space_back1.gif') no-repeat center center fixed;
    background-size: cover;
    transition: background 0.5s ease-in-out;
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
}

canvas {
    display: block;
}